@charset "UTF-8";
*{margin: 0; padding: 0;}
a{
    color: #000;
    text-decoration: none;
}
ol,ul{
    list-style: none;
}

/* font */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
    line-height: 1.5em;
    color: #6B6B6B;
    min-width: 1400px;
}


/* 공통 */
.header, #main-banner, #section1, #section2, #section3, #section4, #footer_inner{
    width: 1320px;
    margin: 0 auto;
}
#section1, #section2, #section3, #section4{
    padding: 150px 0;
}
.text_sub{
    font-size: 25px;
    font-weight: 600;
}
.text_blue{
    color: #3A64F9;
}
.text_green{
    color: #278E2A;
}
.text_red{
    color: #CB0023;
}
.text_yellow{
    color: #FFC400;
}
.text_title{
    font-size: 45px;
    line-height: 1.4em;
    margin: 15px 0 35px;
}
.comment{
    font-size: 20px;    
}
.more_link_wrap{
    background-color: transparent;
    border: none;
}
.more_link{
    display: block;
    width: 220px;
    height: 55px;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    padding: 17px;
    box-sizing: border-box;
    color: #fff;
    margin-top: 30px;
}
.more_link:hover{
    background-color: #fff;
    font-weight: 600;
}
.more_link_blue{
    background-color: #3A64F9;
}
.more_link_blue:hover{
    border: 2px solid #3A64F9;
    color: #3A64F9;
}


/* vector_ani */
@keyframes v_ani_rotate{
    0%{
        transform: rotate(0deg);    
    }
    100%{
        transform: rotate(360deg);    
    }
}
@keyframes v_ani_scale{
    0%{
        transform: scale(1);    
    }
    50%{
        transform: scale(1.2);    
    }
    100%{
        transform: scale(1);    
    }
}
@keyframes v_ani_cloud{
    0%{
        transform: translateY(0px);
    }
    33.3336%{
        transform: translateY(-10px);
    }
    66.6666%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes v_ani_rock{
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}
@keyframes v_ani_heart-beat{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes mellow {
    0% {
        transform: scale(1) rotate(0deg)
    }

    16% {
        transform: scale(1.2, .9) rotate(10deg)
    }

    32% {
        transform: scale(1) rotate(0deg)
    }

    48% {
        transform: scale(1.2, .9) rotate(10deg)
    }

    64% {
        transform: scale(1) rotate(0deg)
    }

    80% {
        transform: scale(1.2, .9) rotate(10deg)
    }

    to {
        transform: scale(1) rotate(0deg)
    }
}



/* header */
#header_wrap{
    background: url(../image/sub3/main-banner/main-banner_background.svg) no-repeat center top;
    height: 900px;
}
#header_inner{ /*gnb_fixied*/
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	box-sizing: border-box;
}
.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header_inner .logo_color {
    display: none;
}

/* gnb */
.pc_gnb{
    display: flex;
}
.pc_gnb li a{
    display: block;
    margin: 0 1vw;
    color: #fff;
    opacity: 30%;
    font-size: clamp(15px,2vw,20px);
}
.pc_gnb li a:hover, .pc_gnb li a.gnb_on{
    opacity: 100%;
}
.mobile_gnb{
    display: none;
}
#menu{
    margin-left: 700px;
}
ul.menu_link_white{
    display: none;
}

/* scroll-down gnb (.active) */
#header_inner.active {
    background: #ffffff;
}
#header_inner.active .logo_w {
    display: none;
}
#header_inner.active .logo_color {
    display: block;
}
#header_inner.active .pc_gnb li a{
    display: block;
    font-weight: 1.5em;
    color: #494949;
}
#header_inner.active .pc_gnb li a:hover{
    color: #278E2A;
}
#header_inner.active .pc_gnb li a.gnb_on{
    color: #278E2A;
}
#header_inner.active .menu_link_default{
    display: none;
}
#header_inner.active .menu_link_white{
    display: block;
}
#header_inner.active ul.menu_link_gray{
    display: block;
    display: flex;
    padding-top: 10px;
}


/* main_banner */
#main-banner{
    padding: 160px 0;
    display: flex;
    align-items: center;
    position: relative;
}
.m_img_shape{
    background: url(../image/sub3/main-banner/shape.svg) no-repeat center;
    width: 650px;
    height: 650px;
    border-radius: 350px;
}
.m_text{
    margin-left: 50px;
    color: #fff;
}
.m_text_en{
    font-size: 25px;
}
.m_text_title{
    font-size: 60px;
    padding: 30px 0 35px 0;
}
.m_text_comment{
    font-size: 27px;
    line-height: 1.5em;
}


/* nav-donation */
#donation_link_wrap{
    width: 1320px;
    margin: 0 auto;
    height: 160px;
    border-radius: 80px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #00000016;
    position: absolute;
    top: 750px;
    left: 50%;
    margin-left: -725px;
    padding: 30px 40px;
    box-sizing: border-box;
}
.donation_link{
    display: flex;
    align-items: center;
}
.donation_link li{
    width: 25%;
 }
.donation_link li div{
    float: left;
}
.donation_link_icon{
    margin-right: 20px;
}
.donation_link_text{
    margin-top: 5px;
}
.donation_link_text h4{
    font-size: 25px;
    color: #278E2A;
}
.donation_link_text p{
    font-size: 16px;
}
.donation_link_text button{
    border: none;
    background-color: #278E2A;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
    padding: 5px 18px;
    box-sizing: border-box;
    cursor: pointer; 
}


/* section1 */
#section1{
    text-align: center;
    position: relative;
    height: 850px;
}
.s1_slide{
    margin-top: 55px;
    width: 432px;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 10px #00000016;
}
.s1_slide div:nth-child(2){
    padding: 27px 0;
}
.s1_slide div:nth-child(2) p{
    font-size: 18px;
}
.s1_slide div:nth-child(2) strong{
    font-size: 25px;
}
.s1_slide div:nth-child(2) .slide_text_comment{
    font-size: 14px;
}

/* vector_deco */
.v_floral{
    position: absolute;
    top: 180px;
    left: -100px;
}
.v_flower{
    position: absolute;
    top: 80px;
    right: 0;
    animation: v_ani_cloud 2s linear infinite;
}

/* kakao_box */
#kakao_box{
    width: 1098px;
    margin: 0 auto;
    height: 180px;
    border-radius: 20px;
    background-color: #FFF700;
    color: #000;
    position: absolute;
    bottom: -90px;
    left: 50%;
    margin-left: -549px;
    padding: 25px 0 0 70px;
    text-align: left;
    box-sizing: border-box;
}
.kakao_box_character{
    float: left;
}
.kakao_box_text{
    float: left;
    margin-left: 60px;
}
.kakao_box_text h3{
    font-size: 35px;
}
.kakao_box_text p{
    font-size: 15px;
    padding: 10px 0 15px;
}
.kakao_box_text a{
    font-size: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

/* section2 */
#section2_wrap{
    background: url(../image/sub3/section2/section2_background.svg) no-repeat center;
    height: 850px;
}
#section2{
    position: relative;
    height: 850px;
}
.s2_top{
    overflow: hidden;
}
.s2_top_box{
    float: left;
    width: 990px;
}
.s2_top_box li{
    float: left;
    margin: 0 10px 0 0;
    width: 320px;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 10px #00000016;
}
.s2_top_box p{
    padding: 0px;
    font-size: 15px;
    line-height: 1.3em;
    text-align: center;
}
.s2_top_text_right{
    float: right;
    text-align: right;
    font-size: 22px;
    font-weight: 500;
    line-height: 2.5em;
}

.s2_bottom{
    clear: both;
    margin-top: 50px;
}
.s2_bottom_text_right{
    float: left;
    text-align: left;
    color: #fff;
    font-size: 22px;
    line-height: 2.5em;
}
.s2_bottom_text_right h1{
    font-weight: 100;
}

/* swiper_slide */
.swiper {
    float: left;
    width: 987px;
    height: 345px;
}
.swiper-wrapper li {
    width: 210px !important;
    height: 345px;
    border-radius: 20px !important;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 5px 10px #00000016;
}
.swiper-wrapper li img {
    display: block;
    /* height: 345px; */
    height: 100%;
}

/* vector_deco */
.v_heart{
    position: absolute;
    top: -50px;
    left: -220px;
    animation: v_ani_heart-beat 2s linear infinite;
}
.v_twinkle{
    position: absolute;
    top: 0px;
    left: -150px;
}
.v_pig-tailed{
    position: absolute;
    top: 320px;
    right: 0px;
}
.v_plus{
    position: absolute;
    bottom: 0px;
    left: -200px;
}






/* footer */
footer{
    position: relative;
    background-color: #fff;
    box-shadow: 0px -10px 10px #0000001f;
}
#go_top{
    display: block;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    cursor: pointer;
    background: #fff;
    transform: translateX(-50%);
    transition: opacity 0.3s, background 0.3s;
    z-index: 0;
    box-shadow: 0px -20px 10px #0000000b;
}
#go_top span{
    display: block;
    text-align: center;
    margin-top: 18px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #278E2A; /*color*/
    position: relative;
}
#footer_wrap{
    background-color: #fff;
    overflow: hidden;
}
#footer_inner{
    color: #fff;
    padding: 50px 0;
    position: relative;
}

.footer_top{
    overflow: hidden;
    padding-bottom: 30px;
}
.footer_cs{
    width: 100%;
}
.mobile_footer_logo{
    display: none;
}
.footer_cs_content_wrap{
    margin-top: 10px;
}
.footer_cs_content_info{
    display: flex;
}
.footer_cs_title{
    flex-direction: column;
    font-size: clamp(15px,1vw,20px);
    color: #278E2A; /*color*/
}
.footer_cs_tel a{
    display: block;
    font-size: clamp(40px,2vw,45px);
    font-weight: 700;
    color: #278E2A; /*color*/
}
.footer_cs_content_info{
    margin-top: 10px;
}
.footer_cs_time{
    font-size: clamp(10px,1.5vw,15px);
    line-height: 1.4em;
    margin: -5px 0 0 10px;
    color: #278E2A; /*color*/
}
.footer_sns{
    position: absolute;
    top: 85px;
    right: 0;
}
.footer_sns li{
    margin-left: 10px;
    float: left;
}
.footer_sns li:nth-child(1){
    margin-left: 0;
}

.footer_bottom{
    font-size: clamp(13px,1.3vw,18px);
    line-height: 1.5em;
    border-top: 0.5px solid #bdbdbd;
    padding: 30px 0;
    position: relative;
}
.footer_logo{
    position: absolute;
    top: 50px;
    right: 0;
}
.f_info_title{
    color: #278E2A; /*color*/
}
.f_info_text{
    width: 80%;
    margin: 5px 0;
    color: #707070; /*color*/
}
.f_info_text li{
    display: inline-block;
    margin-right: 30px;
}
.f_info_text li p{
    font-weight: 100;
    display: inline-block;
}
.f_info_text li span{
    display: inline-block;
    font-weight: 500;
    padding-right: 10px;
}
.f_info_text li::before{
    content: '';
    width: 2px;
    height: 15px;
    background: #278E2A; /*color*/
    display: inline-block;
    vertical-align: -2px;
    margin: 0 10px 0 -19px;
}
.f_info_text li:nth-child(1)::before,
.f_info_text li:nth-child(4)::before{
    display: none;
}
div.copyright span{
    font-weight: 100;
    display: block;
    clear: both;
}
.v_flower-y-s{
    position: absolute;
    bottom: 80px;
    left: -60px;
}
.v_flower-y-b{
    position: absolute;
    bottom: 0;
    left: -120px;
}
.v_flower-w-b{
    position: absolute;
    top: 20px;
    right: -250px;
}